@import './../styles/tokens/generated/index';

:host {
  --background: none;
  --height: #{$cds-global-space-9};
  --width: #{$cds-global-space-9};
  --padding: 0;
  --color: inherit;
  --border-color: var(--color);
  --border-width: 0;
  --border-radius: #{$cds-alias-object-border-radius-100};
  --box-shadow-color: #{$cds-alias-object-opacity-100};
  color: var(--color);
}

.private-host {
  --icon-color: var(--color);
  color: var(--color);
  background: var(--background);
  width: var(--width);
  height: var(--height);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: var(--border-width);
  min-width: 0;
}

:host(:active) .private-host,
:host(:active) .private-host::after {
  box-shadow: 0 #{$cds-global-space-2} 0 0 var(--box-shadow-color) inset;
}

:host(:hover),
:host(:focus),
:host(:active) {
  .private-host::after {
    filter: brightness(90%);
  }
}

cds-icon {
  --color: var(--icon-color);
}

:host([disabled]) {
  --color: #{$cds-alias-status-disabled};
  --box-shadow-color: #{$cds-alias-object-opacity-0};
  pointer-events: none !important;
}
