@import './../styles/tokens/generated/index';

:host {
  --background: none;
  --color: #{$cds-global-typography-color-500};
  --font-size: #{$cds-global-typography-font-size-4};
  --disabled-color: #{$cds-alias-status-disabled};
  --disabled-background: none;
  color: var(--color);
  display: flex;
  font-size: var(--font-size);
}

::slotted(cds-input[box]) {
  --font-size: var(--font-size);
  --text-align: center;
  --padding: 0 #{$cds-global-space-3};
  display: inline-flex;
}
