@import './../styles/tokens/generated/index';

:host {
  // TODO: consider using --button prefix for the following properties
  --background: none;
  --color: #{$cds-global-typography-color-500};
  --disabled-color: #{$cds-alias-status-disabled};
  --disabled-background: none;
  --min-width: calc(2 * #{$cds-global-space-12});
  --font-size: #{$cds-global-typography-font-size-4};
  min-width: var(--min-width);
  display: flex;
}
